@font-face {
    font-family: "Inter";
    src:
        url("../fonts/Inter-Bold.woff2") format("woff2"),
        url("../fonts/Inter-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src:
        url("../fonts/Inter-Regular.woff2") format("woff2"),
        url("../fonts/Inter-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Forum";
    src:
        url("../fonts/Forum.woff2") format("woff2"),
        url("../fonts/Forum.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    font-size: 16px;
}
body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    height: 100%;
    line-height: 1;
    background: #ffffff;
    overflow-x: hidden;
}
li {
    list-style: none;
}
a,
a:visited {
    text-decoration: none;
    color: inherit;
}
a:hover {
    text-decoration: none;
}
img {
    vertical-align: top;
}
p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 40px;
}
h1 {
    font-size: 40px;
    font-family: "Forum", cursive;
    font-style: normal;
    font-weight: normal;
}

h2 {
    font-size: 30px;
    font-family: "Forum", cursive;
    font-style: normal;
    font-weight: normal;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}

/* ---------------HEADER--------------- */

.header {
    max-height: 90px;
}
/* 
.header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    line-height: 50px;
    color: #ffffff;
    background: #0c0c0e;
}
.header__inner h2 {
    color: #fff;
    font-size: 30px;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
}
.header__nav {
    font-size: 20px;
    line-height: 50px;
}
.d-flex {
    display: flex;
}
.header__list {
    display: flex;
    width: 100%;
}
.header__list li {
    padding-right: 30px;
}
.header__list li:last-child {
    padding-right: 0;
}
.header__inner img {
    vertical-align: middle;
    padding-left: 40px;
}

/* ---------------WELCOME--------------- */
.welcome__wrapper {
    background-color: #0c0c0e;
}

.welcome__content {
    padding-top: 220px;
    height: 600px;
    background: linear-gradient(180deg, #0c0c0e 0%, #0c0c0e 0.01%, rgba(18, 18, 21, 0.1) 50%), url("../img/welcome.jpg");
    width: 100%;
}
.welcome__title {
    max-width: 600px;
    background-color: #0c0c0e;
    padding: 35px 40px;
}
.welcome {
}

.welcome h1 {
    color: #fff;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    line-height: 50px;
}

/* ---------------ABOUT--------------- */
.about {
}
.about__wrapper {
    padding: 20px 20px 0px 20px;
    width: 100%;
}
.section-title h2 {
    text-align: center;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.section-title h2::after {
    content: "";
    border-top: 1px solid black;
    margin: 0 auto;
    width: 50px;
    margin-top: 20px;
    display: block;
}

.about__desciption {
    text-align: center;
    margin: 40px 0px 20px 0px;
}

.images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.images__item {
    max-width: 33%;
}

.about .images__items {
    display: flex;
    gap: 25px;
    justify-content: center;
}

.about__pagination {
    display: flex;
    justify-content: center;
}

.images__prev,
.images__next {
    display: none;
}
.pagination_btn {
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 35px;
}
.pagination_btn:before {
    content: "";
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
    background-color: black;
}
.pagination_btn.active:before {
    background-color: #bb945f;
}
.pagination_btn--show {
    display: none;
}

.favorites__wrapper {
    padding: 20px 20px 0px 20px;
}
.favorites {
}
.section-title {
}
.favorite__season {
    margin-top: 40px;
    margin-bottom: 42px;
    font-weight: 700;
    line-height: normal;
}
.seasons,
.seasons label {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.seasons {
    max-width: 50%;
    gap: 10px 90px;
}
.seasons input[type="radio"] {
    display: none;
}
.seasons input[type="radio"]:hover {
    cursor: pointer;
}
.seasons .custom_checkbox {
    display: inline-block;
    width: 17px;
    height: 17px;
    border: 3px solid black;
    border-radius: 50%;
    position: relative;
}
.seasons .custom_checkbox::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 7px;
    height: 7px;
    background-color: #0c0c0e;
    opacity: 0;
    transition: 0.2s;
    border-radius: 50%;
}
.seasons input[type="radio"]:checked + .custom_checkbox::before {
    opacity: 1;
}
.seasons input[type="radio"]:checked ~ .season_text {
    text-stroke: 1px #000000;
    -webkit-text-stroke: 1px #000000;
}
.season_text {
    padding-left: 21px;
}
.season_label:hover {
    cursor: pointer;
}
ul li {
    font-size: 20px;
}

.favorite__items {
    margin-top: 42px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.favorite__items .item__staff_pick p {
    font-family: Forum;
    font-size: 20px;
    line-height: 38px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    color: #000;
}
.favorite__items .item__staff_pick p::after {
    content: "";
    border-top: 1px solid #bb945f;
    height: 1px;
    width: 60px;
    display: block;
}

.favorite__items .item {
    max-width: 550px;
    height: 555px;
    border: 1px solid #000;
    margin-right: 40px;
    padding: 15px 20px 15px;
    position: relative;
    width: 100%;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
}
.favorite__items .item__name {
    padding-top: 20px;
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
}
.favorite__items .item__name .book_name {
    text-transform: uppercase;
}
.favorite__items .item_description {
    margin-top: 20px;
    max-width: 357px;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 266.667% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
.favorite__items .item img {
    position: absolute;
    right: -42px;
    bottom: -1px;
}
.btn {
    color: #0c0c0e;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    width: 75px;
    height: 30px;
    border: 1px solid #0c0c0e;
    background-color: #fff;
    margin-top: auto;
    transition: all 0.5s ease 0s;
}
.btn:not(.own):hover {
    border-radius: 2px;
    border: 1px solid #bb945f;
    background-color: #bb945f;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}
.btn[disabled] {
    pointer-events: none;
}
.btn.own {
    border-radius: 2px;
    color: #bb945f;
    border: 1px solid #bb945f;
}

.coffee-shop {
}

.coffee-shop__wrapper {
    padding: 20px 20px 0px 20px;
    width: 100%;
}

.coffee-shop__desciption {
    margin: 40px 0px;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
}
.coffee-shop__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
}
.menu_left {
    width: 438px;
    display: inline-flex;
    flex-direction: column;
}
.menu_right {
    width: 482px;
    display: inline-flex;
    flex-direction: column;
}
.coffeeshop_menu {
    height: 520px;
    margin: 0;
    padding: 0;
}
.menu_line {
    width: 100px;
    height: 1px;
    margin: 0px 60px 0px auto;
    background-color: #bb945f;
    text-align: center;
}
.menu_item {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
}
.menu_item__price {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.menu_item__name {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    display: inline-block;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
.menu_item__right {
    display: inline-flex;
    justify-content: space-between;
    text-align: right;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    padding-top: 40px;
    margin-left: auto;
}
.menu_line__right {
    width: 100px;
    height: 1px;
    background-color: #bb945f;
    margin-top: 19px;
    margin-left: 58px;
    margin-right: 60px;
}
.cofee_shop_menu_title {
    color: #bb945f;
    font-family: Forum;
    font-size: 40px;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
.contacts {
}

.contacts__wrapper {
    padding: 20px 20px 0px 20px;
    width: 100%;
}
.contacts_info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 40px;
}
.map {
    width: 50%;
}
.map iframe {
    width: 100%;
    height: 414px;
    padding-left: 10px;
}
.p_bold {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
}
.pb-20 {
    padding-bottom: 20px;
}
.pb-40 {
    padding-bottom: 40px;
}
.pt-40 {
    padding-top: 40px;
}
.text_info p {
    color: #000;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
}
.librarycard {
}

.librarycard__wrapper {
    padding: 20px 20px 0px 20px;
    width: 100%;
}
.librarycard_allinfo {
    display: flex;
    justify-content: space-between;
    margin-bottom: 41px;
    gap: 20px 50px;
}
.container_card {
    display: flex;
    flex-direction: column;
    margin: 0;
}
.libcard_table__name {
    text-align: center;
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    padding-bottom: 30px;
}
.libcard_table {
    text-align: left;
    box-sizing: border-box;
    max-width: 600px;
    padding: 18px 17px 27px 17px;
    border: 3px solid #bb945f;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.libcard_table__lb {
    text-align: left;
    width: 560px;
    height: 272px;
    color: #000;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    margin: 0;
    margin-top: 10px;
}
.libcard_table_inp {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #8e8e8e;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    padding: 7px 20px;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 5px;
}
.libcard_block {
    box-sizing: border-box;
    display: inline-block;
    flex-direction: column;
    justify-content: space-between;
    background-color: #bb945f;
    padding: 20px;
    margin-bottom: 20px;
}
.libcard_table_btm {
    display: block;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid black;
    width: 242px;
    height: 44px;
    margin: 0 auto;
    text-align: center;
    color: #0c0c0e;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    transition-duration: 0.3s;
    cursor: pointer;
}
.librarycard_request {
    text-align: right;
}
.librarycard_request__p {
    color: #000;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}
.librarycard_request__txt {
    max-width: 456px;
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 0.4px;
    margin: 35px 0px;
}
.librarycard_request_btm {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid black;
    width: 75px;
    height: 30px;
    color: #0c0c0e;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    padding: 0 auto;
    margin-left: 16px;
    transition-duration: 0.3s;
    cursor: pointer;
}
.footer {
}
.footer_body {
    margin: auto;
    color: #fff;
}
.footer_body_top {
    display: flex;
    justify-content: space-between;
}
.footer_body_top_left {
    display: inline-flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 20px;
}
.footer_body_top_right {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: right;
    margin: 0;
    margin-right: 20px;
    margin-top: 20px;
}
.footer_line {
    background: #fff;
    max-width: 1400px;
    height: 1px;
    margin: auto;
    margin-top: 19px;
}

.footer_address {
    color: #fff;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-decoration: none;
    transition: 0.5s;
}
.footer_list_icon {
    display: flex;
    justify-content: left;
    padding: 0;
    margin: 0;
    margin-top: 18px;
}
.footer_item_icon {
    display: inline;
    padding: 0;
    margin: 0;
    margin-right: 15px;
    cursor: pointer;
    background-color: #0c0c0e;
    transition: 1s;
}
.footer_workschedule {
    text-align: right;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}
.mr-1px {
    margin-right: 1px;
}
.footer {
    margin-top: 25px;
}
.footer__wrapper {
    background-color: #0c0c0e;
    width: 100%;
}

.footer_body__bottom {
    padding: 35px 20px 44px 20px;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
a:hover {
    color: #bb945f;
}
.pl-50 {
    padding-left: 55px;
}
.footer_item_icon:hover img {
    border-bottom: 1px solid #bb945f;
}

@media (max-width: 1240px) {
    .container {
        max-width: 1240px;
        margin: 0 auto;
    }
    .pagination_btn--show:last-child {
        display: flex;
    }
    .images__items .images__item:last-child {
        display: none;
    }
    .images__item img {
        width: 100%;
    }
    .images {
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    .container {
        max-width: 1024px;
        margin: 0 auto;
    }
    body.lock {
        overflow: hidden;
    }
    .header__nav {
        overflow: auto;
        position: fixed;
        right: -332px;
        top: 90px;
        width: 332px;
        height: 480px;
        /* padding-top: 90px; */
        background: #0c0c0e;
        transition: transform 0.5s;
        /* transform: translateX(332px); */
        will-change: transform;
    }
    .header__list li {
        padding: 0;
    }
    .header__list {
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        text-align: center;
        padding-top: 10px;
    }
    .header__nav.active {
        transform: translateX(-100%);
        visibility: visible;
        opacity: 1;
    }
    .header__list-item {
        position: relative;
        color: #ffffff;
        font-family: Inter;
        line-height: 50px;
        cursor: pointer;
    }

    .nav {
        display: none;
    }
    .header__burger {
        margin-top: 2px;
        display: block;
        position: relative;
        width: 45px;
        height: 20px;
        cursor: pointer;
    }
    .header__burger::before,
    .header__burger::after {
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.5s ease 0s;
    }
    .header__burger span {
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.5s ease 0s;
    }
    .header__burger::before {
        top: 0;
    }
    .header__burger::after {
        bottom: 0;
    }

    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span {
        transform: scale(0);
    }

    .header__burger.active .header__list {
        transform: translateX(-100%);
        visibility: visible;
        opacity: 1;
    }
    .images__item {
        max-width: 100%;
    }
    .images__items :not(:first-child) {
        display: none;
    }
    .pagination_btn--show {
        display: flex;
    }
    .images__item {
        padding: 0 3.5rem;
    }
    .header__inner img {
        padding-right: 40px;
    }
    .images__prev,
    .images__next {
        display: block;
        background: transparent;
        cursor: pointer;
        padding-top: 40px;
    }
    .pagination_btn {
        margin-top: 20px;
    }
    .favorite__items {
        justify-content: center;
    }
    .coffee-shop__wrapper {
        padding-right: 19px;
    }
    .menu_right {
        margin-left: auto;
    }
    .map {
        margin: 100px 10px 0px;
        width: 100%;
    }
    .librarycard_request__p,
    .librarycard_request__txt,
    .librarycard_request_btms {
        text-align: center;
    }
    .librarycard_request__txt {
        margin: 40px 84px;
        max-width: 100%;
    }
    .librarycard_request_btms {
        display: flex;
        justify-content: center;
    }
    .librarycard_request_btms .btn {
        margin: 0;
    }
    .librarycard_request_btms .btn:last-child {
        margin-left: 20px;
    }
    .pl-50 {
        padding: 0;
    }
    .librarycard_allinfo {
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
    }
}
@media (max-width: 700px) {
    .seasons {
        flex-wrap: wrap;
        max-width: 100%;
        column-gap: 0px;
    }
}
.hide {
    display: none;
}
